<h2>Phalaenopsis Culture</h2>

<p>Phalaenopsis, the "moth orchids", are some of the easiest and most rewarding orchids for the beginning home grower. Mature plants will flower twice a year with proper care. Blooms can last as long as three months. Following are a few basic cultural guidelines</p>

<h3>Light</h3>
<p>"Phals" do best with 80% to 90% shade (1,000-1,500 footcandles) of light. Direct sunlight may cause the plant to burn. Not enough light will slow growth and stop flowering. An east sunny window is ideal, but an adequately shaded west or south window may be used. Always filtered light - never direct sunlight.</p>

<h3>Temperature</h3>
<p>The optimum range for Phalaenopsis is 65°-85°F. They will grow satisfactorily between 60° and 90°F. The day temperature as high as 100°F for short periods of time in the summer will cause no harm to the plant, if good air movement and humidity are maintained. Do not leave the plant outdoors overnight in the winter.</p>

<h3>Humidity</h3>
<p>50-70% relative humidity is the best for Phalaenopsis. A good way to provide adequate humidity in your home is to place the plant on gravel on a shallow tray of water. Never stand the pot directly in water, however, or the root will rot.</p>

<h3>Watering</h3>
<p>Water once a week for Phalaenopsis potted in bark. Water once every two weeks for Phalaenopsis planted in moss. Always water the plant from the top and allow the water to drain out thoroughly. Water in the morning so that the plant will dry by night to prevent crown rot. The plant also enjoys misting of its foliage during warm, dry weather. Never use water that has been chemically softened - the sodium in this water may kill the plant. Do not over water the plant and do not allow the plant to completely dry out.</p>

<h3>Air Movement</h3>
<p>Good circulation is essential for good growth to prevent bacterial and fungal disease and to prevent spotting on the flowers due to high humidity. Good cross ventilation in your home is sufficient, but avoid cold or warm drafts, such as near an air conditioner or heat vent.</p>

<h3>Fertilizing</h3>
<p>When the plant is in active growth, from April to September, fertilize with a balanced (20-20-20) or high nitrogen (30-10-10) plant food at the half strength (half teaspoon per gallon of water) every two weeks. At other times, fertilize once a month. In October, switching to a bloom-booster (10-30-20) OR (6-30-30) to fertilize the plant every two weeks, coupled with cooler nights, until the flower spike is initiated. Too much fertilizer will damage the plant.</p>

<h3>After Blooming</h3>
<p>When the last remaining flowers begin to wilt, the flower spike may be cut just below the node where the bloom first appeared. Usually a lower node will initiate a branch spike 4-8 weeks after this procedure is done, and within 2-3 months new blooms will open on the branch spike.</p>

<h3>Repotting</h3>
<p>Phalaenopsis should be repotted at least every two years. The best time for repotting is immediately after flowering. Fir bark is the most popular and easiest media to use. For mature plants (6" pots and up) use medium grade (1/2" to 5/8"). For smaller plants use fine grade (1/8" to 1/4"). Plastic pots are best for potting because they maintain moisture longer and do not allow salt deposits to build up as much as other types of pots.</p>