<section class="module parallax parallax-3">
  <div class="container">
    <h1>Dendrobium Culture Care<h1>
  </div>
</section>

<section class="module content">
	<div class="container">
		<h2>Dendrobium Culture</h2>

		<p>The warm growing Dendrobiums are usually referred to as the Phalaenopsis type Dendrobiums. They are among the easiest of orchids to grow under most conditions. These evergreen orchids produce sprays of vividly colored long-lasting flowers in the top of the canes (pseudobulbs). Sometimes flower spikes are produced several years in a row form the same cane. New canes also produce new spikes and a large plant can be quite spectacular.</p>

		<h3>Light</h3>
		<p>Dendrobiums do best best with 60% to 80% shade (2,000 to 3,500 footcandles) of light. Direct sunlight may cause the plant to burn. Not enough light will slow growth and stop flowering. An east sunny window is ideal, but an adequately shaded south or west window may be used. Always filtered light - never direct sunlight.</p>

		<h3>Temperature</h3>
		<p>The optimum range for Dendrobiums is 65°-85deg;F. They will grow satisfactorily between 60° and 90°F. However a few degrees higher or lower are acceptable and cause no detrimental effects. Do not leave the plant outdoors overnight in the winter.</p>

		<h3>Humidity</h3>
		<p>50-70% relative humidity is optimal for Dendrobiums. A good way to provide adequate humidity in your home is to place the plant on gravel in a shallow tray of water. Never stand the pots directly in water, however, or roots will rot.</p>

		<h3>Watering</h3>
		<p>Water Dendrobiums every 5-7 days in the summer, every 8-10 days in the winter when the pot feels light. Always water the plant from the top and allow the water to drain out thoroughly. Water in the morning so the plant will dry by night to prevent diseases. The plant also enjoys misting of its foliage during warm, dry weather. Never use water that has been chemically softened - the sodium in this water may kill the plant. Do not over water the plant and do not allow the plant to completely dry out.</p>

		<h3>Air Movement</h3>
		<p>Good air circulation is essential for good growth to prevent bacterial and fungal diseases and to prevent spotting on your flowers due to high humidity. Avoid cold or warm drafts, such as near an air conditioning or heat vent.</p>

		<h3>Fertilizing</h3>
		<p>In the spring when there is new growth showing, fertilize with a balanced (20-20-20) or high nitrogen (30-10-10) plant food at the full strength (one teaspoon per gallon of water) every two weeks. At other times, fertilize once a month. In July or August, switching to a bloom-booster (10-30-20 or 6-30-30) to fertilize the plants every two weeks until the flower spike is initiated. Too much fertilizer will damage the plant.</p>

		<h3>Repotting</h3>
		<p>Dendrobiums should be repotted every two years. The best time for repotting is then the new growth is 2 to 3 inches tall or when the new roots appear. Medium-grade fir bark is preferred for mature plants, fine-grade for small plants. After removing the old mix and dead roots the plant can be repotted with the base of the new growth no deeper than 1/2 inch in the new mix. Keep mix barely damp until the new roots appear, then resume normal watering.</p>

		<h3>Keikis</h3>
		<p>When kept in a pot too long or after the occurrence of some misfortune, Denbrobiums tend to develop keikis (plantlets) from the dormant eyes located near the top of the plant. Once the keikis have grown leaves and fully developed roots systems, remove and pot them separately. They will grow into duplicates of the original plant. Development of keikis on a Dendrobium is generally an indication that there is a problem with the parent plant which will, more often than not, die soon after keikis have developed.</p>
	</div>
</section>