<h2>Odontoglossum/Oncidium Culture</h2>

<p>Odontoglossums, Oncidiums, Brassia and Miltonia are some of the more commonly known members of the new orchid subtribe Oncidinae. They can be grown both in the home as well as in a shaded patio in a frost free area. Odonts (Odm.) and Oncidiums (Onc.) have frequently been crossed with Brassia, Miltonia and Cochlioda to produce such man made genera as Odontocidium (Odcdm.), Odontonia (Odtna.), Odontioda (Oda.), Brassidium (Brsdm.), Miltonidium (Mtdm.), Miltassia (Mtssa.), Beallara (Blla.), Burrageara (Burr.), Colmanara (Colm.), Degarmoara (Dgmra.), Vuylstekeara (Vuyl.), and Wilsonara (Wils.), in a wide range of cultural flexibility. With correct culture they are relatively easy to grow and bloom, producing long lasting sprays of exquisite flowers.</p>

<h3>Light</h3>
<p>Most Odonts and their hybrids prefer softly filtered light with 80% to 90% shade (1,000 to 1,500 footcandles). Oncidiums (also Brassia and Miltonia) and their hybrids, like Cattleyas, prefer much brighter light with 60% to 80% shade (2,000 to 3,500 footcandles). Leaves should be bright green. Dark green leaves indicate not enough light, reddish green indicate too much light. Miltonia have pale green leaves. ALways filtered light - never direct sunlight.</p>

<h3>Temperature</h3>
<p>Most Oncidiums and their hybrids (Bllra., Brsdm., Burr., Colm., Dgmra., Mtssa., Onc., Odcdm., Odtna., Wils., Vuyl.) are intermediate in temperature preference (day temperature 70°-80°F, night temperature 55°-65°F) Odonts and Odontioda prefer cool temperatures (day temperature 65°-70°F, night temperature 50°-55°F) Do not leave the plant outdoors overnight in the winter.</p>

<h3>Humidity</h3>
<p>Odonts/Oncidiums enjoy moist air. Ideal humidity is between 55% and 75% with 40-50% considered minimum. A good way to provide adequate humidity in your home is to place the plant on gravel in a shallow tray of water. Never stand the pots directly in water, however, or roots will rot.</p>

<h3>Watering</h3>
<p>Odonts prefer to be continuously moist but not soggy (water every 5-7 days). Oncidiums, like Cattleyas, should become moderately dry between waterings (water every 8-10 days). They require more water when the new growth appears and less once the bulb has formed. Water should be cut back in the winter. Water in the morning so that the plant will dry by night to prevent diseases. The plant also enjoys misting of its foliage during warm, dry weather. Never use water that has been chemically softened - the sodium in this water may kill the plant.</p>

<h3>Air Movement</h3>
<p>Good air circulation is essential for good growth to prevent bacterial and fungal diseases and to prevent spotting on your flowers due to high humidity. Good cross ventilation in the home is sufficient, but avoid cold or warm drafts, such as near an air conditioning or heat vent.</p>

<h3>Fertilizing</h3>
<p>When the plant is in active growth, from April to September, fertilize with a balanced (20-20-20) plant food at the full strength (one teaspoon per gallon of water) every two weeks. Fertilize once a month at other times. Too much fertilizer will damage the plant.</p>

<h3>Repotting</h3>
<p>Odonts/Oncidiums should be repotted at least every two years. The best time for repotting is when the new growth is 2 to 3 inches tall or when new roots appear. Medium-grade fir bark is preferred for mature plants, fine-grade for small plants. After removing the old mix and dead roots the plant can be repotted with the base of the new growth no deeper than 1/2 inch in the new mix. Keep mix barely damp until the new roots appear, then resume normal watering.</p>