<h2>Paphiopedilum Culture</h2>

<p>Paphiopedilum, commonly known as "Lady Slippers", are among the easiest of all orchids to grow and flower in the home. They reward you with distinctively beautiful, long lasting blooms. Most grow naturally on decaying vegetation in the crevices of limestone rocks, in swamps and in shady places near a constant source of water. While most Paphiopedilum are hard and will adapt to conditions given, there are certain basic requirements needed to be met.</p>

<h3>Light</h3>
<p>"Paphs" as we call them, do best with 80% to 90% shade (1,000 to 1,500 footcandles) of light. Direct sunlight may cause the plant to burn. Not enough light will slow growth and stop flowering. An east sunny window is ideal, but an adequately shaded west or south window may be used. Always filtered light - never direct sunlight.</p>

<h3>Temperature</h3>
<p>Certain species and their progeny having heavily mottled leaves are considered warm growing. A minimum night temperature of 60°F should be maintained. Those plants with plain green leaves generally are considered cool growing, which require a minimum night temperature of 50°F. Daytime temperature are relatively unimportant provided the plants are not under moisture stress. These rules are flexible since most plants are highly hybridized and are mixtures of warm and cool growing parents. Do not leave the plant outdoors overnight in the winter.</p>

<h3>Humidity</h3>
<p>40-60% relative humidity is best for Paphs. A good way to provide adequate humidity in the home is to place the plant on gravel in a shallow tray of water. Never stand the pot directly in water, however, or the roots will rot.</p>

<h3>Watering</h3>
<p>Since Paphs have no pseudobulbs and store most of their water in their leaves, they must be kept moist at all times, never allowing them to dry out completely. Water Paphs twice a week in the summer, once a week in the winter. Always water the plant form top and allow the water to drain out thoroughly. Water in the morning so that the plant will dry by night to prevent crown rot. Never use water that has been chemically softened - the sodium in the water may kill the plant. Do not over-water the plant and do not allow the plant to completely dry out.</p>

<h3>Air Movement</h3>
<p>Good air circulation is essential for good growth to prevent bacterial and fungal diseases and prevent spotting on the flowers due to high humidity. Good cross ventilation in the home is sufficient, but avoid cold or warm drafts, such as near an air conditioner or heat vent.</p>

<h3>Fertilizing</h3>
<p>Balanced (20-20-20) plant food is recommended when potted in any fir bark mix at the half strength (half teaspoon per gallon of water) every two weeks in warm weather. In cool weather, fertilizer applications once a month are sufficient. Too much fertilizer will damage the plant.</p>

<h3>Repotting</h3>
<p>Paphs should be repotted about every two years or as the medium decomposes. Fir bark with varying additives - perlite (sponge rock), peat moss, and fine charcoal etc. is the most popular and easiest media to use. The mix must be open and well drained but moisture retentive. Paphs may be repotted at any time of the year, even in bloom. Do not overpot, an average plant should have a 4-6" pot. Plastic pots are best for potting because they maintain moisture longer and do not allow salt to build up as much as other types of pots.</p>