<h2>Cattleya Culture</h2>

<p>Cattleyas and their allied genera are some of the most rewarding orchids for the beginning home grower. With correct culture they are easy to grow and bloom, producing beautiful flowers in almost all colors of the spectrum. In the spring, summer and fall they may be grown outside if protected by lath or shade cloth. Cattleyas are epiphytic, which have developed water-storage pseudobulubs and can stand long periods. They should be potted in very porous, free-draining media.</p>

<h3>Light</h3>
<p>Cattleyas do best with 60% to 80% shade (2,000 to 3,500 footcandles) of light. Give the plant as much light as it will take without buring the leaves. The foliage should be bright green rather than dark green. Not enough light will slow growth and stop flowering. An east sunny window is ideal, but an adequately shaded south or west window may be used.</p>

<h3>Temperature</h3>
<p>The optimal range for cattleyas is 60째-80째F. They will grow satisfactorily between 55째 and 90째F. However, temperatures a few degrees higher or lower are acceptable and cause no detrimental effects. Do not leave the plant outdoors overnight in the winter.</p>

<h3>Humidity</h3>
<p>50-80% relative humidity is optimal for Cattleyas. A good way to provide adequate humidity in your home is to place the plant on gravel in a shallow tray of water. Never stand the pots directly in water, however, or roots will rot.</p>

<h3>Watering</h3>
<p>Cattleyas like to be alternately well watered and then dried out. Mature plants need a good watering about once a week. Small plants will generally need water about twice a week. Always water the plant from the top and allow the water to drain out thoroughly. Water in the morning so the plant will dry by night to prevent diseases. The plant also enjoys misting of its foliage during warm, dry weather. Never use water that has been chemically softened - the sodium in this water may kill the plant.</p>

<h3>Air Movement</h3>
<p>Good air circulation is essential for good growth to prevent bacterial and fungal diseases and to prevent spotting on your flowers due to high humidity. Good cross ventilation in your home is sufficient, but avoid cold or warm drafts, such as near an air conditioning or heat vent.</p>

<h3>Fertilizing</h3>
<p>When the plant is in active growth, from April to September, fertilize with a balance (20-20-20) plant food at the half strength (half teaspoon per gallon of water) every two weeks. Fertilize once a month at other times. Too much fertilizer will damage the plant.</p>

<h3>Repotting</h3>
<p>Repotting is necessary when the lead growth is going over the edge of the pot, or the potting mix starts to break down and drain drains poorly (usually after two years), and the plant is not doing well. The best time for repotting is when the new growth starts to make new roots, after flowering or during the spring or summer. Medium-grade fir barks are preferred for mature plants, fine-grade for small plants. Until the plant has six mature pseudobulbs, it generally should be put into a larger pot and not be divided. When dividing a plant, fit 3 to 5 bulbs to a division into a 5" or 6" pot. The surface of the mix should be about one inch below the top of the pot and not covering the rhizome. Remove all dead roots and pack the new mix firmly about the remaining roots. Place the plant in a well shaded, humid area. Spray leaves lightly daily. Resume normal watering after the plant has started to grow new roots.</p>