<section class="module parallax parallax-1">
  <div class="container">
    <h1>Orchids by the sea</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Our orchid nursery was founded in 1997. We have been growing beautiful exotic orchids in sunny coastal San Diego for more than fifteen years. We offer phalaenopsis, cattleyas, dendrobiums, oncidiums, cymbidiums, paphiopedilums, epidendrums and other orchids of fine quality, and orchid supplies (fertilizers, potting media, chemicals, humidity trays, stakes, wire, pots, baskets, etc.) for retail and wholesale.</p>

    <p>We customize flower arrangements with orchids for special events. We also deliver orchids locally to customers throughout San Diego County and send orchids nationwide via FedEx.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div id="gallery" class="container">
    <h1>GALLERY</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>IMAGE GALLERY GOES HERE. LINKS TO LIGHTBOX</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div id="care" class="container">
    <h1>CARE</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>CARE THUMBNAIL LINKS GO HERE</p>
  </div>
</section> 

<section class="module parallax parallax-4">
  <div id="about" class="container">
    <h1>ABOUT</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>GEORGE HUANG</h2>
    <p>IMAGE ON LEFT. BIO ON RIGHT.</p>
  </div>
</section> 

<footer>
  <div class="container">
    <p>MAP/LOCATION ON LEFT. EMAIL FORM ON RIGHT</p>
  </div>
</footer>
