<section id="home" class="module parallax parallax-1">
  <div class="container">
    <div class="title">
      <h1>Orchids by the sea</h1>
    </div>
  </div>
</section>

<section class="module content">
  <div id="home_content" class="container">
    <p>Our orchid nursery was founded in 1997. We have been growing beautiful exotic orchids in sunny coastal San Diego for more than fifteen years. We offer phalaenopsis, cattleyas, dendrobiums, oncidiums, cymbidiums, paphiopedilums, epidendrums and other orchids of fine quality, and orchid supplies (fertilizers, potting media, chemicals, humidity trays, stakes, wire, pots, baskets, etc.) for retail and wholesale.</p>

    <p>We customize flower arrangements with orchids for special events. We also deliver orchids locally to customers throughout San Diego County and send orchids nationwide via FedEx.</p>
  </div>
</section>

<section id="gallery" class="module parallax parallax-2">
  <div class="container">
    <div class="title">
      <h1>Gallery</h1>
    </div>
  </div>
</section>

<section id="gallery_content" class="module content">
  <div class="container">
    <a data-img="images/DSC_4777.jpg" class="lightbox-link">
      <img src="images/DSC_4777.jpg" />
    </a>
    <a data-img="images/DSC_4794.jpg" class="lightbox-link">
      <img src="images/DSC_4794.jpg" />
    </a>
    <a data-img="images/DSC_4818.jpg" class="lightbox-link">
      <img src="images/DSC_4818.jpg" />
    </a>
    <a data-img="images/DSC_4856.jpg" class="lightbox-link">
      <img src="images/DSC_4856.jpg" />
    </a>
    <a data-img="images/DSC_4783.jpg" class="lightbox-link">
      <img src="images/DSC_4783.jpg" />
    </a>
    <a data-img="images/DSC_4941.jpg" class="lightbox-link">
      <img src="images/DSC_4941.jpg" />
    </a>
    <a data-img="images/DSC_4952.jpg" class="lightbox-link">
      <img src="images/DSC_4952.jpg" />
    </a>
    <a data-img="images/DSC_5054.jpg" class="lightbox-link">
      <img src="images/DSC_5054.jpg" />
    </a>
    <a data-img="images/DSC_5044.jpg" class="lightbox-link">
      <img src="images/DSC_5044.jpg" />
    </a>
  </div>
</section>
<section id="care" class="module parallax parallax-3">
  <div class="container">
    <div class="title">
      <h1>Orchid Care</h1>
    </div>
  </div>
</section>

<section id="care_content" class="module content">
  <div class="container">
    <div class="carebox">
      <a href="/care1">
        <img src="/images/care1.jpg" class="care-link">
        <p>PHALAENOPSIS</p>
      </a>
    </div>
    <div class="carebox">
      <a href="/care2">
        <img src="/images/care2.jpg" class="care-link">
        <p>CATTLEYA</p>
      </a>
    </div>
    <div class="carebox">
      <a href="/care3">
        <img src="/images/care3.jpg" class="care-link">
        <p>DENDROBIUM</p>
      </a>
    </div>
    <div class="carebox">
      <a href="/care4">
        <img src="/images/care4.jpg" class="care-link">
        <p>ONCIDIUM</p>
      </a>
    </div>
    <div class="carebox">
      <a href="/care5">
        <img src="/images/care5.jpg" class="care-link">
        <p>PAPHIOPEDILUM</p>
      </a>
    </div>
  </div>
</section> 

<section id="about" class="module parallax parallax-4">
  <div class="container">
    <div class="title">
      <h1>About Us</h1>
    </div>
  </div>
</section>

<section id="about_content" class="module content">
  <div class="container">
    <h2>DR. GEORGE HUANG</h2>
    <div class="about_column">
      <img src="images/george.jpg" />
    </div>
    <div class="about_column">
      <p>George is the owner of Del Mar Orchids and your local source for orchid knowledge. His passion for orchids originates from his childhood in Kaohsiung, Taiwan. The tropical climate of Taiwan makes it a premire habitat for orchids. His earliest memories are of his father at home, tending to orchids with great care, patience and respect. To George, orchids represent all of these virtues.</p>

      <p>Orchid cultivation is a journey of self discovery. It's extremely rewarding and of course they're beautiful.</p>
    </div>
  </div>
</section>
<section id="visit" class="module parallax parallax-5">
  <a href="https://www.google.com/maps/place/Del+Mar+Orchid+World/@32.9459237,-117.2190072,13z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x80dc07dd782f2e25:0x9e46ce83f9d01368!2sDel+Mar+Orchid+World,+4343+Carmel+Valley+Rd,+San+Diego,+CA+92130!2m2!1d-117.1977013!2d32.949408!3m4!1s0x80dc07dd782f2e25:0x9e46ce83f9d01368!8m2!3d32.949408!4d-117.1977013?hl=en" target="_blank">
    <div class="container">
      <div class="title">
        <h1>Visit Us</h1>
      </div>
    </div>
  </a>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/lightbox.js"></script>