<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav id="primary_nav_wrap">
      <h1>Del Mar Orchids</h1>
      <ul class="navbar">
        <li class="current-menu-item"><a href="/">Home</a></li>
        <li class="gallery"><a href="/#gallery">Gallery</a></li>
        <li class="care"><a href="/#care">Care</a>
          <ul>
            <li><a href="/care1">Phalaenopsis Culture</a></li>
            <li><a href="/care2">Cattleya Culture</a></li>
            <li><a href="/care3">Dendrobium Culture</a></li>
            <li><a href="/care4">Oncidium Culture</a></li>
            <li><a href="/care5">Paphiopedilum Culture</a></li>
          </ul>
        </li>
        <li class="about"><a href="/#about">About Us</a></li>
        <li class="contact"><a href="/#footer">Contact Us</a></li>
      </ul>
      <div class="social">
        <a href="www.facebook.com" target="_blank"><img src="../images/fb-512.png" width="20px" height="20px"></a>
        <a href="www.twitter.com" target="_blank"><img src="../images/t-512.png" width="20px" height="20px"></a>
        <a href="www.instagram.com" target="_blank"><img src="../images/ig-512.png" width="20px" height="20px"></a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>