<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <nav>
      NAV BAR GOES HERE
    </nav>
    <%= yield %>
  </body>
</html>