<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav id="primary_nav_wrap">
      <h1>Del Mar Orchids</h1>
      <ul class="navbar">
        <li class="current-menu-item"><a href="/">HOME</a></li>
        <li class="gallery"><a href="/#gallery">GALLERY</a></li>
        <li class="care"><a href="/#care">ORCHID CARE</a>
          <ul>
            <li><a href="/care1">PHALAENOPSIS CULTURE</a></li>
            <li><a href="/care2">CATTLEYA CULTURE</a></li>
            <li><a href="/care3">DENDROBIUM CULTURE</a></li>
            <li><a href="/care4">ONCIDIUM CULTURE</a></li>
            <li><a href="/care5">PAPHIOPEDILUM CULTURE</a></li>
          </ul>
        </li>
        <li class="about"><a href="/#about">ABOUT US</a></li>
        <li class="contact"><a href="#contact">CONTACT US</a></li>
      </ul>
      <div class="social">
        <a href="https://www.facebook.com/delmarorchids/" target="_blank"><img src="../images/fb-512.png" width="20px" height="20px"></a>
        <a href="https://twitter.com/delmarorchids" target="_blank"><img src="../images/t-512.png" width="20px" height="20px"></a>
        <a href="www.instagram.com" target="_blank"><img src="../images/ig-512.png" width="20px" height="20px"></a>
      </div>
    </nav>
    <%= yield %>
    <section id="contact">
      <footer class="module content">
        <div class="container">
          <div class="addy">
            <p>4343 Carmel Valley Road, San Diego, CA 92130</p>
            <p>Phone: (858) 794-0774</p>
            <p>Email: delmarorchids@gmail.com</p>
          </div>
          <form method="post" action="/email_response"> 
            <input type="text" id="frombox" name="from" placeholder="from">
            <!-- <input type="post" id="tobox" name="to" placeholder="to"> -->
            <input type="post" id="subbox" name="subject" placeholder="subject">
            <textarea type="post" id="bodybox" name="body" placeholder="body"></textarea>
            <input type="submit" class="button">
          </form>
        </div>
      </footer>
    </section>
  </body>
</html>