/* ============================================================
  NAV
============================================================ */
nav {
	position: fixed;
	z-index: 10;
	width: 100%;
	background: rgba(255,255,255,0.9);
	height: 70px;
}

nav h1 {
	position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: 'Rock Salt';
  font-size: 30px;
  color: black;
}

nav ul {
	position: absolute;
	top: 30px;
  left: 10px;
}

nav ul li {
  position: relative;
  float: left;
}

nav ul a {
	display: block;
	color: black;
	text-decoration: none;
	font-family: 'Lato';
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	padding-left: 15px;
}

nav a:hover {
	color: purple;
}

/*ORCHID CARE DROP DOWN MENU*/
nav ul ul {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	background: rgba(255,255,255,0.7);
	padding: 0;
}

nav ul ul li {
	float: none;
	width: 210px;
}

nav ul ul a {
	line-height: 40px;
}

nav ul li:hover > ul {
	display: block
}

/*SOCIAL*/
.social {
  position: absolute;
  top: 40px;
  right: 10px;
}

.social a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
  margin-right: 10px;
}

.facebook {
  background: transparent url('images/FB-512.png') center top no-repeat;
}

.facebook:hover {
   background-image: url('images/FB-512-purple.png');
}

.twitter {
  background: transparent url('images/T-512.png') center top no-repeat;
}

.twitter:hover {
   background-image: url('images/T-512-purple.png');
}

.instagram {
  background: transparent url('images/IG-512.png') center top no-repeat;
}

.instagram:hover {
   background-image: url('images/IG-512-purple.png');
}

/* ============================================================
  FOOTER
============================================================ */
footer {
	background: darkgrey;
	color: white;
  padding: 40px 0;
}

footer p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
}

/*footer p:last-child {
  margin-bottom: 36px;
}*/

.location, .hours {
  width: 400px;
  display: block;
  margin-bottom: 36px;
}

.questions {
  position: absolute;
  top: 0;
  right: 0;
}

form {
  margin-top: 18px;
  display: inline-block;
  width: 450px;
}

input, textarea {
  border: 1px solid grey;
  padding: 5px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

::-webkit-input-placeholder {
 font-size: 18px;
 text-transform: uppercase;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
}
:-moz-placeholder { /* older Firefox*/
 font-size: 18px;
 text-transform: uppercase;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 18px;
 text-transform: uppercase;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
} 
:-ms-input-placeholder { 
 font-size: 18px;
 text-transform: uppercase;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
}

#frombox, #tobox, #subbox {
  display: block;
  width: 400px;
  height: 20px;
  margin-bottom: 5px;
}
#bodybox {
  display: block;
  width: 400px;
  height: 70px;
  margin-bottom: 5px;
}
.button {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
/* ============================================================
  SECTIONS
============================================================ */

/*H2 SUBHEADER FONT*/
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}

/*H3 SUBHEADER FONT*/
h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 25px;
}

/*P GENERAL TEXT FONT*/
section.module p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 28px;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
  background-color: white;
  text-align: left;
}

section.module.content #gallery_content {
  text-align: center;
}

section.module.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax.care {
  height: 80vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax .title {
  position: relative;
  top: 50vh;
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

section.module.parallax.care .title {
  top: 45vh;
}

section.module.parallax h1 {
  font-family: 'Rock Salt', cursive;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  font-size: 70px;
  line-height: 100px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section.module.parallax .arrow {
  position: absolute;
  top: 98vh;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section.module.parallax a {
  color: rgba(255, 255, 255, 0.6);
}

section.module.parallax a:hover {
  color: rgba(128, 0, 128, 0.6);
}

/* INDEX BG IMAGES */
section.module.parallax-1 {
  background-image: url("images/intro.jpg");
}
section.module.parallax-2 {
  background-image: url("images/gallery.jpg");
}
section.module.parallax-3 {
  background-image: url("images/care.jpg");
}
section.module.parallax-4 {
  background-image: url("images/about.jpg");
}
section.module.parallax-5 {
  background-image: url("images/map.png");
}

/* CARE BG IMAGES */
section#phals {
	background-image: url("images/care1.jpg");
}
section#cattleya {
  background-image: url("images/care2.jpg");
}
section#dendro {
  background-image: url("images/care3.jpg");
}
section#odonts {
  background-image: url("images/care4.jpg");
}
section#paphs {
  background-image: url("images/care5.jpg");
}

#gallery_content {
  text-align: center;
}

#gallery_content img {
  width: 300px;
  display: inline-block;
  margin: 5px;
}

#care_content {
  text-align: center;
}

#care_content img {
  width: 300px;
}
.carebox {
  display: inline-block;
  margin: 10px 5px;
}

#about_content img {
  height: 300px;
}

.about_column {
  display: inline-block;
  height: 300px;
  overflow: hidden;
}

.about_column:last-child {
  width: 640px;
}

.about_column img {
  margin-right: 20px;
}

section.module.content a {
  color: black;
}
section.module.content a:hover {
  color: purple;
}
section.module a.lightbox-link {
  cursor: pointer;
}
section a img {
  transition: all .2s ease-in-out;
}
section a img:hover {
  transform: scale(1.025);
}

a {
  text-decoration: none;
}

/*@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}*/
/*@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}*/

/* ============================================================
  LIGHTBOX & EMAIL MODAL
============================================================ */

#lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: 85vh;
}

#lightbox, #modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  cursor: pointer;
  display: none
}