nav {
	position: fixed;
	z-index: 10;
	width: 100%;
	background: rgba(255,255,255,0.9);
	height: 70px;
  position: fixed;
  z-index: 10;
}

#primary_nav_wrap
{
	/*margin-top:15px*/
}
#primary_nav_wrap h1
{
	position: absolute;
  top: 54%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: Rock Salt;
  font-size: 30px;
  mix-blend-mode: difference;
  color: white;

}
#primary_nav_wrap div
{
	position: absolute;
	top: 54%;
	left: 91.5%;
}
#primary_nav_wrap div a
{
	padding-right: 5px;
	padding-left: 5px;
}
#primary_nav_wrap ul
{
	position: absolute;
	top: 54%;
	list-style:none;
	/*position:relative;
	float:left;*/
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-family: lato;
	/*font-weight:700;*/
	font-size:12px;
	line-height:32px;
	padding-left: 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

/*#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}*/
#primary_nav_wrap a:hover
{
	color: purple
}
#primary_nav_wrap ul li:hover
{
	/*background:#f6f6f6*/
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: rgba(255,255,255,0.5);
	padding:0
}

/*drop down for care*/
#primary_nav_wrap ul ul li
{
	float:none;
	width:161px
}
#primary_nav_wrap ul ul a:hover
{
	/*color: yellow;*/
}
#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

/* #primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}
 */
#primary_nav_wrap ul li:hover > ul
{
	display:block
}
footer {
	background: grey;
	color: white;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */

/*H2 SUBHEADER FONT*/
section.module h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 40px;
}

/*H3 SUBHEADER FONT*/
section.module h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 25px;
}

/*P GENERAL TEXT FONT*/
section.module p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 28px;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
  background-color: white;
  text-align: left;
}

section.module.content #gallery_content {
  text-align: center;
}

footer.module.content {
  padding: 40px 0;
  background-color: darkgrey;
}

section.module.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax.care {
  height: 80vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax .title {
  position: relative;
  top: 50vh;
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

section.module.parallax.care .title {
  top: 45vh;
}

section.module.parallax h1 {
  font-family: 'Rock Salt', cursive;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  font-size: 70px;
  line-height: 100px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* INDEX BG IMAGES */
section.module.parallax-1 {
  background-image: url("images/intro.jpg");
}
section.module.parallax-2 {
  background-image: url("images/gallery.jpg");
}
section.module.parallax-3 {
  background-image: url("images/care.jpg");
}
section.module.parallax-4 {
  background-image: url("images/about.jpg");
}
section.module.parallax-5 {
  background-image: url("images/map.png");
}

/* CARE BG IMAGES */
section#phals {
	background-image: url("images/care1.jpg");
}
section#cattleya {
  background-image: url("images/care2.jpg");
}
section#dendro {
  background-image: url("images/care3.jpg");
}
section#odonts {
  background-image: url("images/care4.jpg");
}
section#paphs {
  background-image: url("images/care5.jpg");
}

#gallery_content {
  text-align: center;
}

#gallery_content img {
  width: 300px;
  display: inline-block;
  margin: 5px;
}

#care_content {
  text-align: center;
}

#care_content img {
  width: 300px;
}
.carebox {
  display: inline-block;
  margin: 10px 5px;
}

#about_content img {
  height: 300px;
}

.about_column {
  display: inline-block;
  height: 300px;
/*  border: solid 1px black;*/
  overflow: hidden;
}

.about_column:last-child {
  width: 640px;
}

.about_column img {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: purple;
}
a.lightbox-link {
  cursor: pointer;
}
a img {
  transition: all .2s ease-in-out;
}
a img:hover {
  transform: scale(1.025);
}

/*@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}*/
/*@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}*/

/* ============================================================
  LIGHTBOX
============================================================ */

#lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: 85vh;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  cursor: pointer;
  display: none
}
.addy {
	width: 400px;
	height: 300px;
	/*border: 1px solid yellow;*/
	display: inline-block;
	vertical-align: top;
}
.addy p{
	text-align: left;
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 10px;
}
form {
	display: inline-block;
	width: 500px;
	/*border: 1px solid black;*/
	text-align: center;
}
::-webkit-input-placeholder {
 font-size: 18px;
 text-transform: uppercase;
 text-transform: uppercase;
 /*text-align: center;*/
 font-weight: 300;
 font-family: lato, sans-serif;
}
:-moz-placeholder { /* older Firefox*/
 font-size: 18px;
 text-transform: uppercase;
 text-transform: uppercase;
 /*text-align: center;*/
 font-weight: 300;
 font-family: lato, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 18px;
 text-transform: uppercase;
 text-transform: uppercase;
 /*text-align: center;*/
 font-weight: 300;
 font-family: lato, sans-serif;
} 
:-ms-input-placeholder { 
 font-size: 18px;
 text-transform: uppercase;
 text-transform: uppercase;
 /*text-align: center;*/
 font-weight: 300;
 font-family: lato, sans-serif;
}
#frombox, #tobox, #subbox {
	width: 490px;
	height: 20px;
}
#bodybox {
	width: 490px;
	height: 200px;
}
.button {
	background-color: white;
	font-family: lato, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

